:root {
    --purple: #220231;
    --white: #ffffff;
    --gray: #494949;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    color: white;
    background-color: var(--purple);
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Styles START*/
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2% 0px 2%;
    background-color: var(--purple);
    position: sticky;
    border-bottom: 10px solid var(--gray);
    top: 0;
    z-index: 9999;
}

header h1 {
    display: flex;
    flex-direction: column;
    flex: 30%;
    justify-content: flex-end;
    background-color: var(--gray);
    align-items: flex-end;
}

header h1 a {
    margin: auto 5px auto;
    font-size: 4.0vw;
    color: var(--white);
}

a:hover {
    background-color: var(--gray);
}

header nav {
    display: flex;
    flex: 70%;
    justify-content: flex-end;
}

header nav a {
    color: var(--white);
    border-bottom: .3vw solid var(--white);
    padding: 10px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    font-size: 2.0vw;
}
/* Header Styles END */

/* Hero Styles START */
.hero {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    justify-content: flex-end;
    background-image: url("../images/space-main.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
}

.hero h2 {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--white);
    font-weight: bold;
    font-size: 5.55vw;
    margin: 175px 10px 10px;
    background-color: var(--gray);
    padding: 5px;
}
/* Hero Styles END*/

/* About Me Section Start*/
.main-body {
    display: flex;
    flex-direction: column;
}

.about-me-block {
    display: flex;
    flex-direction: row;
    margin: .6%;
}

.main-body h3 {
    font-size: 3.55vw;
    color: var(--white);
}

.about-me-title {
    display: flex;
    flex-direction: row;
    flex: 20%;
    justify-content: flex-end;
    border-right: solid 3px var(--white);
}

.about-me-title h3 {
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px;
}

.about-me-content {
    flex: 80%;
    color: var(--white);
    flex-wrap: wrap;
    line-height: 1.25;
    margin: .6%;
    font-size: 1.5vw;
    padding: .5%;
}
/* About me Section END */

/* Work Block START */
.work-title {
    display: flex;
    flex-direction: row;
    flex: 20%;
    margin: .6%;
}

.work-block {
    flex: 80%;
    flex-direction: row;
    margin: .6%;
    margin-top: 20px;
    padding: 10px;
}
/* Work Block END */

/* Surf Report Box START */
.surf-report-box {
    display: flex;
    color: var(--white);
    background-image: url("../images/stack.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    margin-bottom: 20px;
    border: 5px solid var(--gray);
    position: relative;
}

.surf-report {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 25px;
    line-height: 1.25;
}

.surf-report h4 {
    font-size: 2.55vw;
    background-color: var(--gray);
    padding: .4rem;
}

.surf-report p {
    font-size: 1.55vw;
    padding: .4rem;
    background-color: var(--gray)
}

.surf-report-box:hover {
    opacity: .6;
}
/* Surf Report Box END */

/* Work Row 2 (led-wall, calculator) START */
.work-row-2 {
    display: flex;
    justify-content: space-evenly;
    flex: 100%;
    flex-direction: row;
    height: 250px;
    margin-bottom: 20px;
}

/* LED Wall Box START */
.led-wall-box {
    display: flex;
    height: 100%;
    width: 50%;
    color: var(--white);
    background-image: url("../images/led.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
    border: 5px solid var(--gray);
}

.led-wall {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 25px;
    line-height: 1.25;
}

.led-wall h4 {
    font-size: 2.55vw;
    padding: .4rem;
    background-color: var(--gray)
}

.led-wall p {
    font-size: 1.55vw;
    padding: .4rem;
    background-color: var(--gray)
}

.led-wall-box:hover {
    opacity: .6;
}
/* LED Wall Box END */

/* Calculator Box START */
.calculator-box {
    display: flex;
    width: 50%;
    color: var(--white);
    background-image: url("../images/calculator.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--gray);
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 25px;
    line-height: 1.25;
}

.calculator h4 {
    font-size: 2.55vw;
    padding: .4rem;
    background-color: var(--gray)
}

.calculator p {
    font-size: 1.55vw;
    padding: .4rem;
    background-color: var(--gray)
}

.calculator-box:hover {
    opacity: .6;
}
/* Calculator Box END */
/* Work Row 2 (led-wall, calculator) END */

/* Work Row 4 (pastel, buddy) START */
.work-row-3 {
    display: flex;
    height: 250px;
    margin-bottom: 20px;
}

.pastel-box {
    display: flex;
    width: 50%;
    color: var(--white);
    background-image: url("../images/puzzle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 20px;
    border: 5px solid var(--gray);
}

.pastel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 25px;
    line-height: 1.25;
}

.pastel h4 {
    font-size: 2.55vw;
    padding: .4rem;
    background-color: var(--gray)
}

.pastel p {
    font-size: 1.55vw;
    padding: .4rem;
    background-color: var(--gray)
}

.pastel-box:hover {
    opacity: .6;
}

/* Pastel Box END*/

/* Buddy Box START */
.buddy-box {
    display: flex;
    width: 50%;
    color: var(--white);
    background-image: url("../images/runbuddy.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: 5px solid var(--gray);
}

.buddy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 25px;
    line-height: 1.25;
}

.buddy h4 {
    font-size: 2.55vw;
    padding: .4rem;
    background-color: var(--gray)
}

.buddy p {
    font-size: 1.55vw;
    padding: .4rem;
    background-color: var(--gray)
}

.buddy-box:hover {
    opacity: .6;
}
/* Buddy Box END */
/* Work Block END */

/* Contact Me START */
.contact-me-block {
    display: flex;
    flex-direction: row;
    margin: .6%;
}

.contact-me-title {
    display: flex;
    flex-direction: row;
    flex: 20%;
    justify-content: flex-end;
    border-right: solid 3px var(--white);
    height: 100%;
}

.contact-me-title h3 {
    display: flex;
    justify-content: flex-end;
    font-size: 3.55vw;
    padding: 0px 10px;
}

.contact-info-block {
    display: flex;
    flex: 80%;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    flex-wrap: wrap;
    line-height: 1.25;
    margin: 0px .6%;
    padding: .6%;
}

.contact-info-block h4 {
    border-bottom: .3vw solid var(--white);
    font-size: 1.55vw;
}

.contact-info-block a {
    border-bottom: .3vw solid var(--white);
    text-decoration: none;
    color: var(--white);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.55vw;
}
/* Contact Me END */

/* Resume START */
.resume-block {
    display: flex;
    justify-content: center;
}

.resume-block img {
    height: auto;
    width: 100%;
    padding: 5% 25%;
}
/* Resume END */

/* Media Query for Tablets and Smaller START */
@media screen and (max-width: 768px) {

    header h1 a {
        margin: auto 1% auto;
        font-size: 4.35vw;
        color: var(--white);
    }

    .about-me-content {
        font-size: 2.5vw;
    }

    header nav a {
        font-size: 3.0vw;
    }

    .work-block h4 {
        font-size: 4vw;
        padding: 0rem .4rem;
    }

    .work-block p {
        font-size: 3vw;
        padding: 0rem .4rem;
    }

    .contact-info-block h4 {
        border-bottom: .3vw solid var(--white);
        font-size: 2.0vw;
    }

    .contact-info-block a {
        border-bottom: .3vw solid var(--white);
        text-decoration: none;
        color: var(--white);
        font-family: Helvetica, Arial, sans-serif;
        font-size: 2.0vw;
    }
}

/* Media Query for Tablets and Smaller START */
@media screen and (max-width: 390px) {

    header h1 a {
        margin: auto 1% auto;
        font-size: 4.35vw;
        color: var(--white);
    }

    .about-me-content {
        font-size: 2.5vw;
    }

    header nav a {
        font-size: 3.0vw;
    }

    .work-block h4 {
        font-size: 4vw;
        padding: 0rem .4rem;
    }

    .work-block p {
        font-size: 3vw;
        padding: 0rem .4rem;
    }

    .contact-info-block h4 {
        border-bottom: .3vw solid var(--white);
        font-size: 2.0vw;
    }

    .contact-info-block a {
        border-bottom: .3vw solid var(--white);
        text-decoration: none;
        color: var(--white);
        font-family: Helvetica, Arial, sans-serif;
        font-size: 2.0vw;
    }
}