:root {
    --purple: #220231;
    --white: #ffffff;
    --gray: #494949;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--purple);
    font-family: Helvetica, Arial, sans-serif;
}

/* Header Styles */

header {
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--purple);
    position: sticky;
    top: 0;
    border-bottom: 5px solid var(--gray);
}

header h1 {
    display: flex;
    justify-content: flex-end;
    background-color: var(--gray);
    font-weight: bold;
    padding: 10px;
    margin: 0;
    font-size: 60px;
    color: var(--purple);
    width: 30%;
}

header a {
    text-decoration: none;
    color: var(--white);
    display: inline-block;
}

header nav {
    margin: 50px 10px 0px 5px;
}

header nav a {
    color: var(--white);
    font-size: 25px;
    padding: 3px 35px;
    border-bottom: 5px solid var(--white);
}
/* Header Styles End */

/* Hero */
.hero {
    display: flex;
    background-image: url("../images/space-main.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    size: 50% 50%;    
}

.hero h2 {
    display: flex;
    justify-content: flex-end;
    font-family: Helvetica, Arial, sans-serif;
    color: var(--white);
    font-weight: bold;
    font-size: 100px;
    width: 100%;
    height: 90%;
    padding: 100px 10px 0px;
}
/* Hero Styles End*/

/*About Me*/
.main-body {
    margin: 30px 10px;
}

.about-me-title{
    display: flex;
    margin: 10px;
}

.about-me-block {
    display: inline-flex;
}
.main-body {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.about-me-title {
    display: flex;
    margin: 15px;
    border-right: solid var(--white);
    padding: 5px;
    flex: 2 30%;
}

.about-me-title h3 {
    display: flex;
    text-align: right;
    font-size: 50px;
    color: var(--white);
}

.about-me-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--white);
    padding: 20px;
    flex: 2 70%;
}
